html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.batchcode {
  font-family: Roboto-mono, monospace;
  font-size: 0.8rem;
  color: rgb(40, 94, 41);
  padding: 0.1rem;
  /* margin-bottom: 0.2rem; */
}

.batchcode:hover {
  background-color: rgb(40, 94, 41);
  color: white;
}